<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th>Name:</th>
            <th>Type:</th>
            <th>Breed:</th>
            <th>Vet:</th>
            <th>Vet Date:</th>
            <th>Foster:</th>
        </tr>
    </thead>
    <tbody>
        <% animals.forEach(function(a){ %>
            <a href='/animals/<%= a._id %>'>
            <img src=<%= a.picture %>>
            </a>
            <tr>
                <a href='/animals/<%= a._id %>'>
                <td><%= a.name %></td>
                </a>
                <td><%= a.type %></td>
                <td><%= a.breed %></td>
                <td><%= a.vet %></td>
                <td><%= a.vetWhen %></td>
                <td><%= a.foster  %></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>